.button {
    height: 50px;
    width: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;    
    content: "Initial Text";
}

.change-text {
    display: none;
}



.button:hover > .change-text {
    display: unset;
}

.button:hover > .initial-text {
    display: none;
}