* {
    margin: 0;
    padding: 0;
}

div {
    height: 50px;

}

.outer-container {
    display: flex;
}

.outer-container-set-width {
    width: 319px;
    justify-content: center;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.a {
    background-color: aqua;
}

.b {
    background-color: green;
}

.c {
    background-color: purple;
}

.a-width {
    width: 52px;
}

.b-width {
    width: 189px;
}

.c-width {
    width: 78px;
}

.a-with-flex-grow {
    flex: 2 1px;
    /* border: 1px solid blue; */
}

.b-with-flex-grow { 
    flex: 5 1px;
    /* border: 1px solid black; */
}

.c-with-flex-grow {
    min-width: 50px;
    flex: 3 1px;
    /* border: 1px solid black; */
}

