html, body {
    min-width: 100%;
    min-height: 100vh;
}

.outermost, .level2, .level3 {
    border: 1px solid black;
}

.outermost {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.level2{
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
}

.ba {
    background-color: blue;
    flex-basis: 57%;    
}

.bb {
    background-color: green;
    flex-basis: 43%;
}

.level3 {
    width: 60px;
    height: 60px;
}

.ca {
    background-color: yellow;
}

.cb {
    background-color: red;
}