* {
    margin: 0;
    padding: 0;
}

.top {
    height: 50px;
}

.outermost-container {
    border: 2px solid green;
    height: 500px;
}

.container {
    border: 1px solid black;
    height: 30px;
    width: 700px;
    margin: 30px 0 0 20px;
    position: relative;
    /* background-image: url(https://assets.codepen.io/6060109/waves.png); */
    background-color: gainsboro;
}

.inside {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    /* border: 1px solid blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);

}