@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* All Screen Sizes */

* {
    margin: 0;
    padding: 0;        
    line-height: unset;
    box-shadow: none;
    border-style: none;
    color: unset;
}




html, body {
    width: 100%;
    height: 100vh;
    background-image: url(https://assets.codepen.io/6060109/ZigZag.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: Montserrat;      
}

.outermost-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-panel {    
    border-radius: 5px;
    width: 327px;
    height: 567px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 40px 40px -20px #3C7B61;

}

.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

#main-image {
    display: block;
    width: 150px;
    height: 150px;
    margin: 40px auto 0 auto; 
}

.text-panel {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    font-size: 27px;
    font-weight: 600;
    color: #2F463D;
    text-align: center;
    font: 'Montserrat';
}

.body-text {
    text-align: center;
    font-family: ubuntu;
    font-weight: 400;
    color: #828282;
    line-height: 26px;
}

.menu-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 67px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F0FFF5;
}

.menu-box img {
    border-radius: 5px 0 0 5px;

}

.menu-item-box {
    font-size: 14px;
    padding-left: 10px;
    width: 50%;
}

#menu-item {
    margin-top: 8px;
    font-weight: 800;
    color: #2F463D;
    margin-bottom: 5px;
}

#price {
    font-weight: 500;
    color: #7A8F85;
}

.menu-box > a {
    font-size: 13px;
    font-weight: 700;
    color: #467A66;
    background-color: #F0FFF5;
    border-radius: 0 5px 5px 0;
}

.button {
    height: 50px;
    width: 259px;
    background-color: #BDBDBD;    
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 10%;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    transition-duration: .3s;

    box-shadow: 0px 20px 20px 0px #A7A7A733;

}

.active-button {
    background-color: #46A67E;
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
}
 
.arrow {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
} 

.ready:hover {
    background-color: #54c294;
    cursor: pointer;
    transition-duration: .3s;
}

.elipsis-container {
    display: flex;
    justify-content: space-between; 
    width: 15%;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    background-color: #E0E0E0;
    border-radius: 50%;
    width: 7.3px;
    height: 7px;
}

.active-dot {
    background-color: #67BD99;
}



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* All Smaller devices ( Anything smaller thanlandscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}