
/* ***************************** */
/* Styles applied to all devices */
/* ***************************** */

* {
    margin: 0;
    padding: 0;
    font-style: unset;
    font-weight: unset;
    font-size: unset;
    line-height: unset;
    box-shadow: none;
    border-style: none;
    font-family: unset;
}

@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

html, body {
    width: 100%; /* choose % over vw to avoid surprise horizontal scrollbars. */
    height: 100vh; /* setting this one to % instead of vh may result in scrolling problems on smaller devices. */
    font-family: AdiHaus;
    font-weight: normal;
}

.logo {    
    display: flex;
    justify-content: center;
}
    
h1 {    
    font-size: 3rem;
    line-height: 3rem;
}

.header-part1 {
    color: #2f80ed;
    font-weight: normal;
}

.header-part2 {
    color: #423A3A;
    font-weight: Bold;
}

.message {
    color: #333333;
    line-height: 1.75rem;
}

form {
    border: 1px solid #333333;
    border-radius: 3px;
    display: flex;
    justify-content:space-between;
    height: 3rem;
}

input[type=email] {
    width: 100%;
    color: #828282;
    padding-left: 1rem;
    border: none;
}

.button-container {
    position: relative;
    width: 4rem;    
    border: 1px solid #333333;
    border-radius: 1px;
    background-color: #7a7a7a; /* For browsers that don't support gradients */
    background-image: linear-gradient(to bottom right, #7a7a7a, #323030);
    /* background-color: #333333; */
    font-weight: 100;
}

.button-arrow {
    position: absolute;    
    color: #eaeaea;
    font-size: 2.5rem;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,40%);
}
/* ************************************ */
/* End of styles applied to all devices */
/* ************************************ */



/* small devices (phones and other smaller screens, 767px and down) */
@media only screen and (max-width: 767px) {

    .logo {     
        justify-content: center;
    }
    
    .logo > img {
        padding: .6rem;
    }
    
    .main-image {
        /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0 34%); */
        height: 30vh;
        max-width: 444px;
        margin: auto;
        background-image: url(https://assets.codepen.io/6060109/athlete-girl.png);
        background-repeat: no-repeat;
        position: top;
        background-size: 100%;
    }
    
    .text-content { 
        text-align: center;
        margin: 1rem 1.8rem;
        ;   
    }
    
    .header-part1 {
        margin-top: 1rem;
    }
    
    .message {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    html {
        background-image: url(https://assets.codepen.io/6060109/waves.png);
        background-repeat: repeat;
    }

    .outermost-container {
        /* border: 5px solid black; */
        max-width: 1162.2px;
        box-sizing: border-box;
        margin-left: 7rem;
        margin-right: auto;
        display: flex;
        justify-content: space-between;  
        height: 800px;      
    }

    .desktop-left-side {
        flex-basis: 57%;

    }

    .desktop-right-side {        
        flex-basis: 43%;
        background-image: url(https://assets.codepen.io/6060109/shoes.png);
        height: 100%;
        width: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        /* background-position: left; */
        /* transform: translateX(-50%); */
    }
    
    .logo { 
        margin-top: 3rem;    
        justify-content: flex-start;
    }

    .text-content { 
        text-align: left;
        margin-top: 7rem;
        width: 17rem;       ;   
    }

    .message {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1491px) {
    .outermost-container {
        margin-left: auto;
    }

}